<!DOCTYPE html>
<html lang="en">
<!-- Template to render any Highcharts. Include jQuery to fiddle around with Ajax later on... -->
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Aguilar">
	<meta charset="utf-8">
	<title>{{ pageTitle }}</title>
</head>

<body class="body">
	 <body>
		 <h3>{{ pageTitle }}</h3>
		<p>{{ paragraph }}</p>
        <div id="stocksChart"></div>
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/highcharts-more.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script type="text/javascript">
			new Highcharts.Chart({{chart|safe}});
			</script>
	 </body>
</html>