<!DOCTYPE html>
<html lang="en">
<!-- Template to render any Highcharts. Include jQuery to fiddle around with Ajax later on... -->
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Aguilar">
	<meta charset="utf-8">
	<title>{{ pageTitle }}</title>
</head>

<body class="body">
	 <body>
		 <h3>{{ pageTitle }}</h3>
		<p>{{ paragraph }}</p>
        <div id="stocksChart"></div>
        <script type = "text/javascript" src = "/static/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>  
		<script type="text/javascript">
		  new Highcharts.Chart({{chart|safe}});
		</script>
	 </body>
</html>